{
  "extends": ["eslint:recommended", "plugin:vue/vue3-essential"],
  "rules": {
    "vue/html-self-closing": "on",
    "vue/no-multiple-template-root": "off",
    "no-unused-vars": [1, { "args": "all", "argsIgnorePattern": "^_" }]
  }
}
